



<div class="row" style="margin-top: 24px">
  <div class="col-sm-3"></div>
  <div class="col-sm-6" style="margin-left: 18px; padding-left: 0">
    <div style="background-color: #f6f8fa; min-height: 128px; border-radius: 8px; overflow: hidden; margin-left: 12px; border-bottom: 2px solid #bfc0c2">
      <div class="pull-left">
        <%= image_tag current_user.gravatar_url :size => 128  %>
      </div>
      <div class="">
        <div style="padding-left: 142px;">
          <h2 style="margin-top: 12px" class="pull-left"><% if current_user == @user %><%= current_user.email %><% else %><%= @user.email %><% end %></h2>
          <% if current_user == @user %>
            <div style="margin-top: 22px; margin-left: 6px;" class="pull-left">That's you!</div>
          <% else %>
          <%= simple_form_for Friendship.new, :url => :toogle_follow do |f| %>

              <% if (current_user.is_friend? @user) %>
                  <%= f.button :submit, {value: 'Following', class: 'btn btn-success pull-right', style: 'margin-top: 12px; margin-right: 12px;' } %>

                  <!--<button class="btn btn-success pull-right" style="margin-top: 12px; margin-right: 12px;">Following</button>-->
              <% else %>
                  <%= f.button :submit, {value: 'Follow', class: 'btn btn-info pull-right', style: 'margin-top: 12px; margin-right: 12px;' } %>

                  <!--<button class="btn btn-info pull-right" style="margin-top: 12px; margin-right: 12px;">Follow</button>-->
              <% end %>

          <% end %>
        <% end %>
        </div>
        <div class="clearfix"></div>
        <div class="" style="border-top: 1px solid #adadad">
          <div class="pull-right" style="border-left: 1px solid #bfc0c2; padding: 6px"><a href="#"><b><%= @followers_count %></b></a> followers</div>
          <div class="pull-right" style="border-left: 1px solid #bfc0c2; padding: 6px"><a href="#"><b><%= @following_count %></b></a> following</div>

        </div>
      </div>
    </div>

  </div>
  <div class="col-sm-3"></div>

</div>
<div class="row">
  <div class="col-sm-3"></div>

  <div class="col-sm-6 text-center">
    <h2 style="color: #9a9a9a; font-weight: bold"><% if current_user == @user %>Chmoods you've added<% else %>Chmoods <%= @user.email %> have added<% end %></h2>
  </div>
  <div class="col-sm-3"></div>

</div>
<% if current_user == @user %>
    <div class="row" id="new_chmood_container">
      <div class="col-sm-3"></div>
      <div class="col-sm-6" style="margin-left: 18px">
        <button type="button" class="close" aria-hidden="true" onclick="$('#new_chmood_container').hide();" style="padding-top: 26px">&times;</button>

        <h1>Add new Chmood</h1>

        <%= render :partial => 'chmoods/form_new_chmood', :locals => { :chmood => @new_chmood } %>

        <script type="text/javascript">
            (function ($){
                <% unless (@new_chmood.errors.any?)%>
                $('#new_chmood_container').hide();
                <% end %>
            })(jQuery);
        </script>

      </div>
      <div class="col-sm-4"></div>

    </div>
<% end %>
<div class="row">

  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <div id="main" role="main">
      <ul id="grid" class="grid effect-6">
        <% if current_user == @user %>
        <li id="chmood-new"  onclick="$('#new_chmood_container').toggle(); $('#chmood_content').focus();">

            <div class="chmood-new">
              <div class="chmood chmood-text">
                <span class="icon-plus">+</span><br/><br/>Add New One
              </div>
            </div>
        </li>
        <% end %>
        <%= render :partial => 'chmoods/chmoods_list', :locals => { :chmoods => @user.chmoods } %>
      </ul>
    </div>
  </div>
  <div class="col-lg-3"></div>
</div>
