


<div class="row">
  <div class="col-sm-3"></div>

  <div class="col-sm-6 text-center">
    <% if user_signed_in? %>
        <span>Welcome, <%= current_user.email %>!</span> |
        <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
    <% else %>
        <%= link_to 'Sign In', new_user_session_path %> или <%= link_to 'Register', new_user_registration_path %>
    <% end %>
  </div>
  <div class="col-sm-3"></div>

</div>



<div class="row">
  <div class="col-md-12">
    <h1 style="margin-left: 24px"><%= @page_title %></h1>
  </div>
</div>
<div class="row">

  <div class="col-sm-3">
    <div class="colour-page-switcher-container">
      <div class="">
        <%= link_to('<', wannamood_url({:colour_id => @prev, :r => rand(0..1000).to_i }), {:class => 'colour-page-switcher'}) %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div id="main" role="main">
      <ul id="grid" class="grid effect-6">
        <%= render :partial => 'chmoods/chmoods_list', :locals => { :chmoods => @chmoods } %>
      </ul>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="colour-page-switcher-container">
      <div class="">
        <%= link_to('>', wannamood_url({:colour_id => @next }), {:class => 'colour-page-switcher'}) %>
      </div>
    </div>
  </div>
</div>

