
<% chmoods.each do |chmood| %>
  <li class="">
    <div class="chmood-container colour colour-<%= chmood.colour_id %>">
      <% if chmood.image.url(:medium) != '/images/medium/missing.png' %>
          <%= image_tag chmood.image.url(:medium), {style: "width:100%"} %>
      <% else %>
        <div class="chmood-content chmood-text">
            <%= h (chmood.desc.empty?) ? dottize(chmood.content, 20) : dottize(chmood.desc, 20) %>
        </div>
      <% end %>
      <div class="likes" style="padding-left: 2px; padding-right: 2px; border-bottom: 1px solid #AFAEAE; border-top: 1px solid #ececec; padding-bottom: 12px;">
        <%
           c_for = Random.rand(1..100)
           c_against = (100 - c_for)
        %>
        <% if c_for > 0 %>
            <div style="margin-left:2px; box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.48); display: inline-block; background: #31c6a0; border: 2px solid #e1e2e4; border-radius: 8px; width: <%= c_for - 2 %>%; height: 7px"></div>
        <% end %>
        <% if c_against > 0%>
            <div style="box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.48); display: inline-block; background: #f76353; border: 2px solid #e3e4e6; border-radius: 8px; width: <%= c_against - 2 %>%; height: 7px"></div>
        <% end %>
      </div>
      <div class="chmood-info" onclick="window.location.href = $(this).find('.user_link').attr('href'); ">
        <div class="left" style="display: inline-block; overflow: auto">
          <%= image_tag chmood.user.gravatar_url :size => 24  %>
        </div>
        <div style="color: #939495; display: inline-block; padding-left: 2px; overflow: hidden">
          <div style="font-weight: 600"><%= link_to chmood.user.email, user_show_path(chmood.user), {:class => 'user_link'}  %></div>
          <div style=""><%= distance_of_time_in_words_to_now(chmood.updated_at) %> ago</div>
        </div>
        <div class="clearfix"></div>

      </div>
      <div class="chmood-comments">
        <% chmood.comment_threads.each do |c| %>
            <div class="chmood-comment" style="font-size: 11px; padding-bottom: 6px">
              <div class="left" style="float: left; display: inline-block; width: 14%; overflow: hidden; ">
                <%= image_tag c.user.gravatar_url :size => 24  %>
              </div>
              <div class="" style="color: #939495; display: inline-block; padding-left: 2px; width: 84%; margin-top: -4px; overflow: hidden">
                <div style="font-weight: 600"><%= link_to c.user.email, user_show_path(c.user) %></div>
                <div style=""><%= dottize(c.body, 250) %></div>
              </div>
              <div class="clearfix"></div>
            </div>
        <% end %>

        <div class="chmood-comment" style="font-size: 11px; padding-bottom: 6px">
          <div class="left" style="float: left; display: inline-block; width: 14%; overflow: hidden; ">
            <%= image_tag current_user.gravatar_url :size => 24  %>
          </div>
          <div class="" style="display: inline-block; padding-left: 2px; width: 84%; margin-top: -4px;">
            <div style="color: #939495; font-size: 11px">
              <form name="comment-new-form" action="/comments" method="post">
                  <!--<input type="hidden" id="comment-new-user-id" name="comment_user_id" value="<%= current_user.id %>"/>-->
                  <textarea id="comment-new-<%= chmood.id %>" name="comment_body" class="text optional form-control" style="margin-top: 3px" cols="26" rows="3" placeholder="Add your super-duper comment"></textarea>
                  <!--<div class="form-actions" style="margin-bottom: 6px">-->
                    <!--<input class="btn btn-primary" name="commit-new-submit" type="submit" value="Comment">-->
                  <!--</div>-->
              </form>

            </div>
          </div>
          <div class="clearfix"></div>
        </div>

      </div>
    </div>

  </li>
<% end %>
