<%= simple_form_for chmood, :url => :chmoods_add, html: {class: 'form-horizontal', :multipart => true } do |f| %>

    <% if chmood.errors.any? %>
        <div id="error_explanation">
          <strong><%= pluralize(chmood.errors.count, "reason") %> why we can't yet save your chmood:</strong>

          <ul>
            <% chmood.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row">
      <div class="col-md-8">
        <div id="chmood_colour" class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary colour-tag-1 active">
            <input type="radio" name="options" id="chmood_colour_option1" value="1">Comedy
          </label>
          <label class="btn btn-primary colour-tag-2">
            <input type="radio" name="options" id="chmood_colour_option2" value="2">Inspired
          </label>
          <label class="btn btn-primary colour-tag-3">
            <input type="radio" name="options" id="chmood_colour_option3" value="3">Discover
          </label>
          <label class="btn btn-primary colour-tag-4">
            <input type="radio" name="options" id="chmood_colour_option4" value="4">Creatives
          </label>
          <label class="btn btn-primary colour-tag-5">
            <input type="radio" name="options" id="chmood_colour_option5" value="5">Memories
          </label>

        </div>
      </div>
      <div class="col-md-4">
        <div id="chmood_type" class="btn-group pull-right" data-toggle="buttons">
          <label class="btn btn-primary active">
            <input type="radio" name="options" id="chmood_type_option1">Text
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="options" id="chmood_type_option2">Image
          </label>
        </div>
      </div>

    </div>





    <%= f.input_field :colour_id, :as => :hidden, :id => 'chmood_colour_id', :value => 1 %>
    <%= f.input_field :type_id, :as => :hidden, :id => 'chmood_type_id', :value => 1 %>
    <%= f.input_field :content, :as => :text, :id => 'chmood_content', :title => "Write some content here!", :placeholder => 'So, what do you want to post?' %>
    <%= f.input_field :desc, :as => :text, :id => 'chmood_desc', :title => "Write some description here!", :placeholder => 'Add some description (not required)' %>
    <%= f.file_field :image, {:id => 'chmood_image'} %>
    <div class="form-actions">
      <%= f.button :submit, {class: 'btn-primary' } %>
    </div>
<% end %>


<script type="application/javascript">

    $('#chmood_image').toggle();

    $(document).ready(function() {

        //toogle chmood creation mode, whether user wants to add imaged or texted post
        $('#chmood_type').click(function () {
            //console.log($(this).button().active());
            $('#chmood_content').toggle();
            //$('#chmood_desc').toggle();
            $('#chmood_image').toggle();

            var $type = $('#chmood_type_id');

            if (parseInt($type.val()) > 1) {
                $type.val(1)
            }else {
                $type.val(2)
            }


        });

        $('#chmood_colour').click(function () {
            setTimeout(changeColourInput); // needs to be executed after Bootstrap's events
        });

        function changeColourInput() {
            $('#chmood_colour .btn').each(function(i, btn){
                if($(btn).hasClass('active') ){
                    var colour_id = $(btn).find('input[type="radio"]').val();
                    $('#chmood_colour_id').val(colour_id);
                }
            });
        }
    });


</script>