
<div class="row" id="new_chmood_container">
  <div class="col-sm-3"></div>
  <div class="col-sm-6" style="margin-left: 18px">
    <button type="button" class="close" aria-hidden="true" onclick="$('#new_chmood_container').hide();" style="padding-top: 26px">&times;</button>

    <h1>Add new Chmood</h1>

    <%= render :partial => 'chmoods/form_new_chmood', :locals => { :chmood => @chmood } %>

    <script type="text/javascript">
//        (function ($){
            <!--<% unless (@chmood.errors.any?)%>-->
//            $('#new_chmood_container').hide();
            <!--<% end %>-->
//        })(jQuery);
    </script>

  </div>
  <div class="col-sm-4"></div>

</div>

<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <div id="main" role="main">
      <ul id="grid" class="grid effect-6">
        <!--<li id="chmood-new" class="chmood-new" onclick="$('#new_chmood_container').toggle(); $('#chmood_content').focus();">-->
          <!--<div class="chmood chmood-text">-->
            <!--<span class="icon-plus">+</span><br/><br/>Add New One-->
          <!--</div>-->
        <!--</li>-->
        <!-- These are our grid blocks -->
        <%= render :partial => 'chmoods/chmoods_list', :locals => { :chmoods => current_user.chmoods } %>
      </ul>
    </div>
  </div>
  <div class="col-sm-3"></div>
</div>





<!-- Once the page is loaded, initalize the plug-in. -->
<script type="text/javascript">
//    $(document).ready(function () {
//
//
//        var handler = $('#tiles li');
//
//        var $tiles = $('#tiles'),
//                $handler = $('li', $tiles),
//                $main = $('#main'),
//                $window = $(window),
//                $document = $(document),
//                options = {
//                    // Prepare layout options.
//                    autoResize: true, // This will auto-update the layout when the browser window is resized.
//                    container: $('#main'), // Optional, used for some extra CSS styling
//                    offset: 24, // Optional, the distance between grid items
//                    outerOffset: 10, // Optional, the distance to the containers border
//                    itemWidth: "30%" // Optional, the width of a grid item
//                    ,flexibleWidth: true
//                    ,align: 'left'
//
//                };
//
//        /**
//         * Reinitializes the wookmark handler after all images have loaded
//         */
//        function applyLayout() {
//
//            $tiles.imagesLoaded(function() {
//                // Destroy the old handler
//                if ($handler.wookmarkInstance) {
//                    $handler.wookmarkInstance.clear();
//                }
//
//                // Create a new layout handler.
//                $handler = $('li', $tiles);
//                $handler.wookmark(options);
//
//
//            });
//
//        }
//
//        // Call the layout function for the first time
//        //applyLayout();
//        $handler.wookmark(options);
//
//
//    });
</script>






