/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 */


body {
    background-color: #EBEDEF;
    color: #606162;
}

input.form-control, textarea.form-control {
    margin-bottom: 12px;
}
.form-actions {
    margin-top: 12px;
}


#new_chmood {
    border-bottom: 1px solid #cecfd1;
    padding-bottom: 22px;
    margin-bottom: 12px;
}



#main ul li {
    margin-left: 42px;
    list-style: none;
}

.chmood-new {
    padding-top: 92px;
    background-color: transparent;
    text-align: center;
    border: 2px solid #9ea0a1;
    border-style: dashed;
    cursor: pointer;
    font-size: 18px;
    color: #9ea0a1;
    height: 280px;
    border-radius: 2px;
}

#main ul li.chmood-new:hover {
   border-color: #666768;
   color: #666768;
}

.icon-plus {
    background: #babbbd;
    border-radius: 32px;
    padding: 5px 12px 6px 12px;
    color: #ededed;
    font-size: 24px;
    vertical-align: 2px;
}

.icon-plus:hover {
    color: #fffe6e;
    background-color: #666768;
}



.chmood-container {
    /*border: 1px solid #f3f3f3;*/
    border-bottom: 1px solid #cecfd1;
    /*background-color: #f1f3f5;*/
    border-radius: 4px;
    /*padding: 12px;*/
    overflow: hidden;

}

.chmood-content, .chmood-info {
    padding: 12px;
}


.chmood-content {
    border-bottom: 1px solid #babbbd;
    min-height: 80px;
}

.chmood-info {
    border-top: 1px solid #f6f6f6;
    border-bottom: 1px solid #babbbd;

    padding-top: 6px;
    background-color: #e0e2e4;
    color: #606162;
    font-size: 11px;
    height: 100%;
}

.chmood-info:hover {
    cursor: pointer;
    background-color: #d9dbdd;

}


.chmood-comments {
    border-top: 1px solid #f6f6f6;

}
.chmood-comment {
    background-color: #e0e2e4;
    padding: 12px;

}

.btn-primary {
    color: white;
    background-color: #439e8d;
    border-color: #1d6d55;
}

.colour {

}

.colour-1, .colour-tag-1{
    background-color: #ffeaaa;
}

.colour-2, .colour-tag-2{
    background-color: #c76459 !important;
}

.colour-3, .colour-tag-3{
    background-color: #40802e !important;
}

.colour-4, .colour-tag-4{
    background-color: #835cff !important;
}

.colour-5, .colour-tag-5{
    background-color: #269abc !important;
}

.colour-2, .colour-3, .colour-4, .colour-5 {
    color: #ffffff;
}

.colour-tag-1 {
    color: #606162;
}

.colour-tag-1.active, .colour-tag-1:focus {
    color: #fff;
}

.colour-tag-1, .colour-tag-2, .colour-tag-3, .colour-tag-4, .colour-tag-5 {
    border: 1px solid #858687;
    opacity: 0.8;
}

.colour-tag-1.active, .colour-tag-2.active, .colour-tag-3.active, .colour-tag-4.active, .colour-tag-5.active {
    opacity: 1;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    color: white;
    background-color: #1c8370;
    border-color: #196551;
}



.btn-group {
    margin-bottom: 12px;
}


.colour-page-switcher-container {

    position: fixed;
    padding-left: 10%;
    padding-right: 12%;
    padding-top: 12%;
    padding-bottom: 12%;
}
.colour-page-switcher-container:hover {
    background-color: #4ca596;
    opacity: 0.8;
}

.colour-page-switcher-container a {
    color: #196551;
    font-size: 82px;
    font-weight: 100;
    transform: scale(0.8,1.8);
    -webkit-transform: scale(0.8,1.8); /* Safari and Chrome */
    -moz-transform: scale(0.8,1.8); /* Firefox */
    -ms-transform: scale(0.8,1.8); /* IE 9+ */
    -o-transform: scale(0.8,1.8); /* Opera */

}

.colour-page-switcher-container a:hover {
    color: #fff;
    text-decoration: none;
}
.colour-page-switcher {
    display: block;
    padding-top: 70%;
    padding-bottom: 130%;
    text-align: center;
}


.alert-messages-fixed {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 7000;
}