<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag 'application', :media => 'all' %>
    <%= stylesheet_link_tag 'component', :media => 'all' %>

    <%= javascript_include_tag 'application' %>

    <%= csrf_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <% flash.each do |name, msg| %>
          <% if msg.is_a?(String) %>
              <div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <%= content_tag :div, msg, :id => "flash_#{name}" %>
              </div>
          <% end %>
      <% end %>
      <%= yield %>
    </div>

    <script>
        new AnimOnScroll( document.getElementById( 'grid' ), {
            minDuration : 0.4,
            maxDuration : 0.7,
            viewportFactor : 0.2
        } );
    </script>

  </body>
</html>
